body{
  background-color: #70d3f1;
}    

.ball{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: rgb(238, 241, 33);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.cloud img{
    max-height: 200px;
}

#cloud1{

}

#cloud2{
    max-height: 150px;
}
      
    
    
  